p {margin:0px; padding:0px; line-height:100%}
body { height:100%; }
html,body { 
-webkit-text-size-adjust:100%;
background-color: #ffffff;
}
.cLinkHidden {position:absolute; visibility:hidden; left:0px; top:0px; width:0px; height:0px; overflow:hidden;}
#Page {overflow:hidden;position:relative;width:1300px;height:800px;;}
#Box2 {display:block;overflow:hidden;position:absolute;left:-10px;top:239px;width:1309px;height:566px;z-index:2;padding-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;background:url('images/lapeche_Box2.png');background-repeat:no-repeat;}
#Text3 {word-wrap:break-word; display:block;position:absolute;left:671px;top:330px;width:300px;height:85px;z-index:3;}
#Text4 {word-wrap:break-word; display:block;position:absolute;left:542px;top:455px;width:429px;height:261px;z-index:4;}
#Img3 {display:block;overflow:hidden;position:absolute;left:1128px;top:250px;width:154px;height:180px;z-index:5;min-width:154px;}
#Img3Inner {position: absolute;width:154px;height:180px;border:0px;}
#Box1 {display:block;overflow:hidden;position:absolute;left:-27px;top:-8px;width:1343px;height:259px;z-index:6;padding-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;background:url('images/lapeche_Box1.png');background-repeat:no-repeat;}
#Obj1 {word-wrap:break-word; display:block;position:absolute;left:244px;top:50px;width:763px;height:124px;z-index:7;}
#But10 {display:block;overflow:hidden;position:absolute;left:540px;top:208px;width:251px;height:35px;z-index:8;background:url('buttons/lapeche_But10.png');background-repeat:no-repeat;}
#But10.Up {background-position: 0 0;}
#But10.Down {background-position: -251px 0;}
#But10.Over {background-position: -502px 0;}
#But10 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-family:Arial;}
#But10.Up p {font-size:27px;color:#FFFFFF;top:2px;left:64px;}
#But10.Down p {font-size:20px;color:#08384E;top:7px;left:82px;}
#But10.Over p {font-size:20px;color:#08384E;top:6px;left:81px;}
#But10 div {display:none;}
#Img1 {display:block;overflow:hidden;position:absolute;left:27px;top:15px;width:180px;height:180px;z-index:9;min-width:180px;}
#Img1Inner {position: absolute;width:180px;height:180px;border:0px;}
#Obj2 {word-wrap:break-word; display:block;position:absolute;left:1096px;top:179px;width:204px;height:69px;z-index:10;}
#Img2 {display:block;overflow:hidden;position:absolute;left:1042px;top:473px;width:240px;height:157px;z-index:11;min-width:240px;}
#Img2Inner {position: absolute;width:240px;height:157px;border:0px;}
#Img4 {display:block;overflow:hidden;position:absolute;left:96px;top:259px;width:318px;height:523px;z-index:12;min-width:318px;}
#Img4Inner {position: absolute;width:318px;height:523px;border:0px;}
#Img11 {display:block;overflow:hidden;position:absolute;left:1008px;top:4px;width:286px;height:169px;z-index:13;min-width:286px;}
#Img11Inner {position: absolute;width:286px;height:169px;border:0px;}
#Obj3 {word-wrap:break-word; display:block;position:absolute;left:-10px;top:186px;width:201px;height:64px;z-index:14;}
