p {margin:0px; padding:0px; line-height:100%}
body { height:100%; }
html,body { 
-webkit-text-size-adjust:100%;
background-color: #ffffff;
}
.cLinkHidden {position:absolute; visibility:hidden; left:0px; top:0px; width:0px; height:0px; overflow:hidden;}
#Page {overflow:hidden;position:relative;width:1300px;height:800px;;}
#Text1 {word-wrap:break-word; display:block;position:absolute;left:188px;top:149px;width:192px;height:52px;z-index:2;background-color:#ffffff;}
#But1 {display:block;overflow:hidden;position:absolute;left:767px;top:491px;width:75px;height:46px;z-index:3;background:url('buttons/tcppag2_But1.png');background-repeat:no-repeat;}
#But1.Up {background-position: 0 0;}
#But1.Down {background-position: -75px 0;}
#But1.Over {background-position: -150px 0;}
#But1 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But1.Up p {top:24px;left:41px;}
#But1.Down p {top:25px;left:42px;}
#But1.Over p {top:24px;left:41px;}
#But1 div {display:none;}
#Text2 {word-wrap:break-word; display:none;position:absolute;left:783px;top:537px;width:44px;height:26px;z-index:4;background-color:#ffffff;}
#But2 {display:block;overflow:hidden;position:absolute;left:820px;top:521px;width:20px;height:18px;z-index:5;background:url('buttons/tcppag2_But2.png');background-repeat:no-repeat;}
#But2.Up {background-position: 0 0;}
#But2.Down {background-position: -20px 0;}
#But2.Over {background-position: -40px 0;}
#But2 p {cursor:default;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But2.Up p {top:10px;left:13px;}
#But2.Down p {top:11px;left:14px;}
#But2.Over p {top:10px;left:13px;}
#But2 div {display:none;}
#But3 {display:block;overflow:hidden;position:absolute;left:14px;top:14px;width:100px;height:72px;z-index:6;background:url('buttons/tcppag2_But3.png');background-repeat:no-repeat;}
#But3.Up {background-position: 0 0;}
#But3.Down {background-position: -100px 0;}
#But3.Over {background-position: -200px 0;}
#But3 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But3.Up p {top:37px;left:53px;}
#But3.Down p {top:38px;left:54px;}
#But3.Over p {top:37px;left:53px;}
#But3 div {display:none;}
#Text3 {word-wrap:break-word; display:none;position:absolute;left:58px;top:61px;width:52px;height:26px;z-index:7;background-color:#ffffff;}
#Img1 {display:block;overflow:hidden;position:absolute;left:0px;top:3px;width:1282px;height:705px;z-index:8;min-width:1282px;}
#Img1Inner {position: absolute;width:1282px;height:705px;border:0px;}
#Text4 {word-wrap:break-word; display:none;position:absolute;left:658px;top:626px;width:44px;height:26px;z-index:9;background-color:#ffffff;}
#Text5 {word-wrap:break-word; display:block;position:absolute;left:378px;top:31px;width:469px;height:33px;z-index:10;}
#But5 {display:block;overflow:hidden;position:absolute;left:6px;top:5px;width:100px;height:72px;z-index:11;background:url('buttons/tcppag2_But3.png');background-repeat:no-repeat;}
#But5.Up {background-position: 0 0;}
#But5.Down {background-position: -100px 0;}
#But5.Over {background-position: -200px 0;}
#But5 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But5.Up p {top:37px;left:53px;}
#But5.Down p {top:38px;left:54px;}
#But5.Over p {top:37px;left:53px;}
#But5 div {display:none;}
#But6 {display:block;overflow:hidden;position:absolute;left:531px;top:488px;width:215px;height:118px;z-index:12;background:url('buttons/tcppag2_But6.png');background-repeat:no-repeat;}
#But6.Up {background-position: 0 0;}
#But6.Down {background-position: -215px 0;}
#But6.Over {background-position: -430px 0;}
#But6 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But6.Up p {top:60px;left:111px;}
#But6.Down p {top:61px;left:112px;}
#But6.Over p {top:60px;left:111px;}
#But6 div {display:none;}
#But7 {display:block;overflow:hidden;position:absolute;left:372px;top:509px;width:50px;height:71px;z-index:13;background:url('buttons/tcppag2_But7.png');background-repeat:no-repeat;}
#But7.Up {background-position: 0 0;}
#But7.Down {background-position: -50px 0;}
#But7.Over {background-position: -100px 0;}
#But7 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But7.Up p {top:37px;left:28px;}
#But7.Down p {top:38px;left:29px;}
#But7.Over p {top:37px;left:28px;}
#But7 div {display:none;}
#Text6 {word-wrap:break-word; display:none;position:absolute;left:452px;top:546px;width:61px;height:26px;z-index:14;background-color:#ffffff;}
#But8 {display:block;overflow:hidden;position:absolute;left:455px;top:440px;width:81px;height:55px;z-index:15;background:url('buttons/tcppag2_But8.png');background-repeat:no-repeat;}
#But8.Up {background-position: 0 0;}
#But8.Down {background-position: -81px 0;}
#But8.Over {background-position: -162px 0;}
#But8 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But8.Up p {top:29px;left:44px;}
#But8.Down p {top:30px;left:45px;}
#But8.Over p {top:29px;left:44px;}
#But8 div {display:none;}
#Text7 {word-wrap:break-word; display:none;position:absolute;left:477px;top:504px;width:44px;height:26px;z-index:16;background-color:#ffffff;}
#But9 {display:block;overflow:hidden;position:absolute;left:374px;top:402px;width:43px;height:178px;z-index:17;background:url('buttons/tcppag2_But9.png');background-repeat:no-repeat;}
#But9.Up {background-position: 0 0;}
#But9.Down {background-position: -43px 0;}
#But9.Over {background-position: -86px 0;}
#But9 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But9.Up p {top:90px;left:25px;}
#But9.Down p {top:91px;left:26px;}
#But9.Over p {top:90px;left:25px;}
#But9 div {display:none;}
#But10 {display:block;overflow:hidden;position:absolute;left:328px;top:405px;width:40px;height:178px;z-index:18;background:url('buttons/tcppag2_But10.png');background-repeat:no-repeat;}
#But10.Up {background-position: 0 0;}
#But10.Down {background-position: -40px 0;}
#But10.Over {background-position: -80px 0;}
#But10 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But10.Up p {top:90px;left:23px;}
#But10.Down p {top:91px;left:24px;}
#But10.Over p {top:90px;left:23px;}
#But10 div {display:none;}
#Text8 {word-wrap:break-word; display:none;position:absolute;left:336px;top:362px;width:44px;height:26px;z-index:19;background-color:#ffffff;}
#But11 {display:block;overflow:hidden;position:absolute;left:360px;top:199px;width:113px;height:178px;z-index:20;background:url('buttons/tcppag2_But11.png');background-repeat:no-repeat;}
#But11.Up {background-position: 0 0;}
#But11.Down {background-position: -113px 0;}
#But11.Over {background-position: -226px 0;}
#But11 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But11.Up p {top:90px;left:60px;}
#But11.Down p {top:91px;left:61px;}
#But11.Over p {top:90px;left:60px;}
#But11 div {display:none;}
#But12 {display:block;overflow:hidden;position:absolute;left:328px;top:405px;width:40px;height:173px;z-index:21;background:url('buttons/tcppag2_But12.png');background-repeat:no-repeat;}
#But12.Up {background-position: 0 0;}
#But12.Down {background-position: -40px 0;}
#But12.Over {background-position: -80px 0;}
#But12 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But12.Up p {top:88px;left:23px;}
#But12.Down p {top:89px;left:24px;}
#But12.Over p {top:88px;left:23px;}
#But12 div {display:none;}
#But13 {display:block;overflow:hidden;position:absolute;left:9px;top:106px;width:213px;height:572px;z-index:22;background:url('buttons/tcppag2_But13.png');background-repeat:no-repeat;}
#But13.Up {background-position: 0 0;}
#But13.Down {background-position: -213px 0;}
#But13.Over {background-position: -426px 0;}
#But13 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-family:Arial;font-size:21px;color:#FF0000;}
#But13.Up p {top:274px;left:26px;}
#But13.Down p {top:275px;left:27px;}
#But13.Over p {top:274px;left:26px;}
#But13 div {display:none;}
#Text9 {word-wrap:break-word; display:none;position:absolute;left:479px;top:211px;width:44px;height:26px;z-index:23;background-color:#ffffff;}
#But14 {display:block;overflow:hidden;position:absolute;left:479px;top:273px;width:58px;height:116px;z-index:24;background:url('buttons/tcppag2_But14.png');background-repeat:no-repeat;}
#But14.Up {background-position: 0 0;}
#But14.Down {background-position: -58px 0;}
#But14.Over {background-position: -116px 0;}
#But14 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But14.Up p {top:59px;left:32px;}
#But14.Down p {top:60px;left:33px;}
#But14.Over p {top:59px;left:32px;}
#But14 div {display:none;}
#Text10 {word-wrap:break-word; display:none;position:absolute;left:488px;top:236px;width:44px;height:26px;z-index:25;background-color:#ffffff;}
#But15 {display:block;overflow:hidden;position:absolute;left:541px;top:293px;width:39px;height:101px;z-index:26;background:url('buttons/tcppag2_But15.png');background-repeat:no-repeat;}
#But15.Up {background-position: 0 0;}
#But15.Down {background-position: -39px 0;}
#But15.Over {background-position: -78px 0;}
#But15 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But15.Up p {top:52px;left:23px;}
#But15.Down p {top:53px;left:24px;}
#But15.Over p {top:52px;left:23px;}
#But15 div {display:none;}
#Text11 {word-wrap:break-word; display:none;position:absolute;left:530px;top:259px;width:54px;height:26px;z-index:27;background-color:#ffffff;}
#Text12 {word-wrap:break-word; display:none;position:absolute;left:711px;top:259px;width:44px;height:26px;z-index:28;background-color:#ffffff;}
#But17 {display:block;overflow:hidden;position:absolute;left:769px;top:324px;width:40px;height:63px;z-index:29;background:url('buttons/tcppag2_But17.png');background-repeat:no-repeat;}
#But17.Up {background-position: 0 0;}
#But17.Down {background-position: -40px 0;}
#But17.Over {background-position: -80px 0;}
#But17 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But17.Up p {top:33px;left:23px;}
#But17.Down p {top:34px;left:24px;}
#But17.Over p {top:33px;left:23px;}
#But17 div {display:none;}
#Text13 {word-wrap:break-word; display:none;position:absolute;left:748px;top:397px;width:44px;height:26px;z-index:30;background-color:#ffffff;}
#But18 {display:block;overflow:hidden;position:absolute;left:233px;top:480px;width:91px;height:103px;z-index:31;background:url('buttons/tcppag2_But18.png');background-repeat:no-repeat;}
#But18.Up {background-position: 0 0;}
#But18.Down {background-position: -91px 0;}
#But18.Over {background-position: -182px 0;}
#But18 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But18.Up p {top:53px;left:49px;}
#But18.Down p {top:54px;left:50px;}
#But18.Over p {top:53px;left:49px;}
#But18 div {display:none;}
#Text14 {word-wrap:break-word; display:none;position:absolute;left:240px;top:488px;width:44px;height:26px;z-index:32;background-color:#ffffff;}
#But19 {display:block;overflow:hidden;position:absolute;left:239px;top:396px;width:56px;height:82px;z-index:33;background:url('buttons/tcppag2_But19.png');background-repeat:no-repeat;}
#But19.Up {background-position: 0 0;}
#But19.Down {background-position: -56px 0;}
#But19.Over {background-position: -112px 0;}
#But19 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But19.Up p {top:42px;left:31px;}
#But19.Down p {top:43px;left:32px;}
#But19.Over p {top:42px;left:31px;}
#But19 div {display:none;}
#Text15 {word-wrap:break-word; display:none;position:absolute;left:159px;top:422px;width:44px;height:26px;z-index:34;background-color:#ffffff;}
#Text16 {word-wrap:break-word; display:none;position:absolute;left:184px;top:361px;width:44px;height:26px;z-index:35;background-color:#ffffff;}
#But20 {display:block;overflow:hidden;position:absolute;left:300px;top:396px;width:25px;height:82px;z-index:36;background:url('buttons/tcppag2_But20.png');background-repeat:no-repeat;}
#But20.Up {background-position: 0 0;}
#But20.Down {background-position: -25px 0;}
#But20.Over {background-position: -50px 0;}
#But20 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But20.Up p {top:42px;left:16px;}
#But20.Down p {top:43px;left:17px;}
#But20.Over p {top:42px;left:16px;}
#But20 div {display:none;}
#Text17 {word-wrap:break-word; display:none;position:absolute;left:194px;top:307px;width:44px;height:26px;z-index:37;background-color:#ffffff;}
#But21 {display:block;overflow:hidden;position:absolute;left:258px;top:298px;width:89px;height:77px;z-index:38;background:url('buttons/tcppag2_But21.png');background-repeat:no-repeat;}
#But21.Up {background-position: 0 0;}
#But21.Down {background-position: -89px 0;}
#But21.Over {background-position: -178px 0;}
#But21 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But21.Up p {top:40px;left:48px;}
#But21.Down p {top:41px;left:49px;}
#But21.Over p {top:40px;left:48px;}
#But21 div {display:none;}
#Text18 {word-wrap:break-word; display:none;position:absolute;left:203px;top:258px;width:44px;height:26px;z-index:39;background-color:#ffffff;}
#But22 {display:block;overflow:hidden;position:absolute;left:253px;top:219px;width:89px;height:77px;z-index:40;background:url('buttons/tcppag2_But21.png');background-repeat:no-repeat;}
#But22.Up {background-position: 0 0;}
#But22.Down {background-position: -89px 0;}
#But22.Over {background-position: -178px 0;}
#But22 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But22.Up p {top:40px;left:48px;}
#But22.Down p {top:41px;left:49px;}
#But22.Over p {top:40px;left:48px;}
#But22 div {display:none;}
#But23 {display:block;overflow:hidden;position:absolute;left:280px;top:62px;width:110px;height:130px;z-index:41;background:url('buttons/tcppag2_But23.png');background-repeat:no-repeat;}
#But23.Up {background-position: 0 0;}
#But23.Down {background-position: -110px 0;}
#But23.Over {background-position: -220px 0;}
#But23 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But23.Up p {top:66px;left:58px;}
#But23.Down p {top:67px;left:59px;}
#But23.Over p {top:66px;left:58px;}
#But23 div {display:none;}
#Text19 {word-wrap:break-word; display:none;position:absolute;left:418px;top:81px;width:44px;height:26px;z-index:42;background-color:#ffffff;}
#But24 {display:block;overflow:hidden;position:absolute;left:819px;top:237px;width:448px;height:203px;z-index:43;background:url('buttons/tcppag2_But24.png');background-repeat:no-repeat;}
#But24.Up {background-position: 0 0;}
#But24.Down {background-position: -448px 0;}
#But24.Over {background-position: -896px 0;}
#But24 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-family:Arial;font-size:21px;color:#000080;}
#But24.Up p {top:90px;left:69px;}
#But24.Down p {top:91px;left:70px;}
#But24.Over p {top:90px;left:69px;}
#But24 div {display:none;}
#But28 {display:block;overflow:hidden;position:absolute;left:833px;top:336px;width:16px;height:6px;z-index:44;background:url('buttons/tcppag2_But28.png');background-repeat:no-repeat;}
#But28.Up {background-position: 0 0;}
#But28.Down {background-position: -16px 0;}
#But28.Over {background-position: -32px 0;}
#But28 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But28.Up p {top:4px;left:11px;}
#But28.Down p {top:5px;left:12px;}
#But28.Over p {top:4px;left:11px;}
#But28 div {display:none;}
#But30 {display:block;overflow:hidden;position:absolute;left:884px;top:315px;width:18px;height:25px;z-index:45;background:url('buttons/tcppag2_But30.png');background-repeat:no-repeat;}
#But30.Up {background-position: 0 0;}
#But30.Down {background-position: -18px 0;}
#But30.Over {background-position: -36px 0;}
#But30 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But30.Up p {top:14px;left:12px;}
#But30.Down p {top:15px;left:13px;}
#But30.Over p {top:14px;left:12px;}
#But30 div {display:none;}
#But31 {display:block;overflow:hidden;position:absolute;left:881px;top:339px;width:39px;height:15px;z-index:46;background:url('buttons/tcppag2_But31.png');background-repeat:no-repeat;}
#But31.Up {background-position: 0 0;}
#But31.Down {background-position: -39px 0;}
#But31.Over {background-position: -78px 0;}
#But31 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But31.Up p {top:9px;left:23px;}
#But31.Down p {top:10px;left:24px;}
#But31.Over p {top:9px;left:23px;}
#But31 div {display:none;}
#But33 {display:block;overflow:hidden;position:absolute;left:892px;top:357px;width:21px;height:15px;z-index:47;background:url('buttons/tcppag2_But33.png');background-repeat:no-repeat;}
#But33.Up {background-position: 0 0;}
#But33.Down {background-position: -21px 0;}
#But33.Over {background-position: -42px 0;}
#But33 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But33.Up p {top:9px;left:14px;}
#But33.Down p {top:10px;left:15px;}
#But33.Over p {top:9px;left:14px;}
#But33 div {display:none;}
#But43 {display:block;overflow:hidden;position:absolute;left:1061px;top:152px;width:20px;height:35px;z-index:48;background:url('buttons/tcppag2_But43.png');background-repeat:no-repeat;}
#But43.Up {background-position: 0 0;}
#But43.Down {background-position: -20px 0;}
#But43.Over {background-position: -40px 0;}
#But43 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But43.Up p {top:19px;left:13px;}
#But43.Down p {top:20px;left:14px;}
#But43.Over p {top:19px;left:13px;}
#But43 div {display:none;}
#But45 {display:block;overflow:hidden;position:absolute;left:1105px;top:224px;width:30px;height:47px;z-index:49;background:url('buttons/tcppag2_But45.png');background-repeat:no-repeat;}
#But45.Up {background-position: 0 0;}
#But45.Down {background-position: -30px 0;}
#But45.Over {background-position: -60px 0;}
#But45 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But45.Up p {top:25px;left:18px;}
#But45.Down p {top:26px;left:19px;}
#But45.Over p {top:25px;left:18px;}
#But45 div {display:none;}
#But49 {display:block;overflow:hidden;position:absolute;left:1099px;top:162px;width:49px;height:35px;z-index:50;background:url('buttons/tcppag2_But49.png');background-repeat:no-repeat;}
#But49.Up {background-position: 0 0;}
#But49.Down {background-position: -49px 0;}
#But49.Over {background-position: -98px 0;}
#But49 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But49.Up p {top:19px;left:28px;}
#But49.Down p {top:20px;left:29px;}
#But49.Over p {top:19px;left:28px;}
#But49 div {display:none;}
#But50 {display:block;overflow:hidden;position:absolute;left:1019px;top:88px;width:140px;height:58px;z-index:51;background:url('buttons/tcppag2_But50.png');background-repeat:no-repeat;}
#But50.Up {background-position: 0 0;}
#But50.Down {background-position: -140px 0;}
#But50.Over {background-position: -280px 0;}
#But50 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But50.Up p {top:30px;left:73px;}
#But50.Down p {top:31px;left:74px;}
#But50.Over p {top:30px;left:73px;}
#But50 div {display:none;}
#But51 {display:block;overflow:hidden;position:absolute;left:871px;top:144px;width:99px;height:58px;z-index:52;background:url('buttons/tcppag2_But51.png');background-repeat:no-repeat;}
#But51.Up {background-position: 0 0;}
#But51.Down {background-position: -99px 0;}
#But51.Over {background-position: -198px 0;}
#But51 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But51.Up p {top:30px;left:53px;}
#But51.Down p {top:31px;left:54px;}
#But51.Over p {top:30px;left:53px;}
#But51 div {display:none;}
#But52 {display:block;overflow:hidden;position:absolute;left:624px;top:419px;width:114px;height:64px;z-index:53;background:url('buttons/tcppag2_But52.png');background-repeat:no-repeat;}
#But52.Up {background-position: 0 0;}
#But52.Down {background-position: -114px 0;}
#But52.Over {background-position: -228px 0;}
#But52 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But52.Up p {top:33px;left:60px;}
#But52.Down p {top:34px;left:61px;}
#But52.Over p {top:33px;left:60px;}
#But52 div {display:none;}
#Text41 {word-wrap:break-word; display:none;position:absolute;left:771px;top:450px;width:44px;height:26px;z-index:54;background-color:#ffffff;}
#Text42 {word-wrap:break-word; display:block;position:absolute;left:58px;top:61px;width:52px;height:26px;z-index:55;background-color:#ffffff;}
#But54 {display:block;overflow:hidden;position:absolute;left:424px;top:407px;width:32px;height:167px;z-index:56;background:url('buttons/tcppag2_But54.png');background-repeat:no-repeat;}
#But54.Up {background-position: 0 0;}
#But54.Down {background-position: -32px 0;}
#But54.Over {background-position: -64px 0;}
#But54 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But54.Up p {top:85px;left:19px;}
#But54.Down p {top:86px;left:20px;}
#But54.Over p {top:85px;left:19px;}
#But54 div {display:none;}
#Text44 {word-wrap:break-word; display:none;position:absolute;left:526px;top:640px;width:64px;height:26px;z-index:57;background-color:#ffffff;}
#Text20 {word-wrap:break-word; display:none;position:absolute;left:895px;top:226px;width:44px;height:26px;z-index:58;background-color:#ffffff;}
#Text21 {word-wrap:break-word; display:none;position:absolute;left:961px;top:20px;width:44px;height:26px;z-index:59;background-color:#ffffff;}
#Text22 {word-wrap:break-word; display:none;position:absolute;left:1135px;top:34px;width:44px;height:26px;z-index:60;background-color:#ffffff;}
#Text23 {word-wrap:break-word; display:none;position:absolute;left:1066px;top:33px;width:44px;height:26px;z-index:61;background-color:#ffffff;}
#But4 {display:block;overflow:hidden;position:absolute;left:540px;top:85px;width:304px;height:101px;z-index:62;background:url('buttons/tcppag2_But4.png');background-repeat:no-repeat;}
#But4.Up {background-position: 0 0;}
#But4.Down {background-position: -304px 0;}
#But4.Over {background-position: -608px 0;}
#But4 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But4.Up p {top:52px;left:155px;}
#But4.Down p {top:53px;left:156px;}
#But4.Over p {top:52px;left:155px;}
#But4 div {display:none;}
#Text24 {word-wrap:break-word; display:none;position:absolute;left:573px;top:193px;width:241px;height:26px;z-index:63;background-color:#ffffff;}
#But25 {display:block;overflow:hidden;position:absolute;left:226px;top:600px;width:46px;height:57px;z-index:64;background:url('buttons/tcppag2_But25.png');background-repeat:no-repeat;}
#But25.Up {background-position: 0 0;}
#But25.Down {background-position: -46px 0;}
#But25.Over {background-position: -92px 0;}
#But25 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But25.Up p {top:30px;left:26px;}
#But25.Down p {top:31px;left:27px;}
#But25.Over p {top:30px;left:26px;}
#But25 div {display:none;}
#Text25 {word-wrap:break-word; display:none;position:absolute;left:173px;top:659px;width:86px;height:26px;z-index:65;background-color:#ffffff;}
#Img2 {display:none;overflow:hidden;position:absolute;left:865px;top:447px;width:319px;height:214px;z-index:66;min-width:319px;}
#Img2Inner {position: absolute;width:319px;height:214px;border:0px;}
#Img3 {display:none;overflow:hidden;position:absolute;left:868px;top:459px;width:301px;height:202px;z-index:67;min-width:301px;}
#Img3Inner {position: absolute;width:301px;height:202px;border:0px;}
#Img4 {display:none;overflow:hidden;position:absolute;left:859px;top:457px;width:306px;height:197px;z-index:68;min-width:306px;}
#Img4Inner {position: absolute;width:306px;height:197px;border:0px;}
#Img5 {display:none;overflow:hidden;position:absolute;left:865px;top:446px;width:316px;height:212px;z-index:69;min-width:316px;}
#Img5Inner {position: absolute;width:316px;height:212px;border:0px;}
#Img7 {display:none;overflow:hidden;position:absolute;left:2px;top:122px;width:161px;height:240px;z-index:70;min-width:161px;}
#Img7Inner {position: absolute;width:161px;height:240px;border:0px;}
#Img8 {display:none;overflow:hidden;position:absolute;left:978px;top:79px;width:266px;height:178px;z-index:71;min-width:266px;}
#Img8Inner {position: absolute;width:266px;height:178px;border:0px;}
#Img9 {display:none;overflow:hidden;position:absolute;left:945px;top:71px;width:276px;height:185px;z-index:72;min-width:276px;}
#Img9Inner {position: absolute;width:276px;height:185px;border:0px;}
#Img6 {display:none;overflow:hidden;position:absolute;left:896px;top:459px;width:258px;height:173px;z-index:73;min-width:258px;}
#Img6Inner {position: absolute;width:258px;height:173px;border:0px;}
#But26 {display:block;overflow:hidden;position:absolute;left:453px;top:602px;width:41px;height:29px;z-index:74;background:url('buttons/tcppag2_But26.png');background-repeat:no-repeat;}
#But26.Up {background-position: 0 0;}
#But26.Down {background-position: -41px 0;}
#But26.Over {background-position: -82px 0;}
#But26 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But26.Up p {top:16px;left:24px;}
#But26.Down p {top:17px;left:25px;}
#But26.Over p {top:16px;left:24px;}
#But26 div {display:none;}
#But27 {display:block;overflow:hidden;position:absolute;left:394px;top:603px;width:52px;height:30px;z-index:75;background:url('buttons/tcppag2_But27.png');background-repeat:no-repeat;}
#But27.Up {background-position: 0 0;}
#But27.Down {background-position: -52px 0;}
#But27.Over {background-position: -104px 0;}
#But27 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But27.Up p {top:16px;left:29px;}
#But27.Down p {top:17px;left:30px;}
#But27.Over p {top:16px;left:29px;}
#But27 div {display:none;}
#Text26 {word-wrap:break-word; display:none;position:absolute;left:757px;top:259px;width:44px;height:26px;z-index:76;background-color:#ffffff;}
#But29 {display:block;overflow:hidden;position:absolute;left:711px;top:319px;width:53px;height:69px;z-index:77;background:url('buttons/tcppag2_But29.png');background-repeat:no-repeat;}
#But29.Up {background-position: 0 0;}
#But29.Down {background-position: -53px 0;}
#But29.Over {background-position: -106px 0;}
#But29 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But29.Up p {top:36px;left:30px;}
#But29.Down p {top:37px;left:31px;}
#But29.Over p {top:36px;left:30px;}
#But29 div {display:none;}
#Img10 {display:none;overflow:hidden;position:absolute;left:878px;top:446px;width:303px;height:203px;z-index:78;min-width:303px;}
#Img10Inner {position: absolute;width:303px;height:203px;border:0px;}
#But32 {display:block;overflow:hidden;position:absolute;left:272px;top:601px;width:59px;height:57px;z-index:79;background:url('buttons/tcppag2_But32.png');background-repeat:no-repeat;}
#But32.Up {background-position: 0 0;}
#But32.Down {background-position: -59px 0;}
#But32.Over {background-position: -118px 0;}
#But32 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But32.Up p {top:30px;left:33px;}
#But32.Down p {top:31px;left:34px;}
#But32.Over p {top:30px;left:33px;}
#But32 div {display:none;}
#Obj1 {word-wrap:break-word; display:none;position:absolute;left:260px;top:659px;width:86px;height:26px;z-index:80;background-color:#ffffff;}
#But34 {display:block;overflow:hidden;position:absolute;left:649px;top:307px;width:53px;height:43px;z-index:81;background:url('buttons/tcppag2_But34.png');background-repeat:no-repeat;}
#But34.Up {background-position: 0 0;}
#But34.Down {background-position: -53px 0;}
#But34.Over {background-position: -106px 0;}
#But34 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But34.Up p {top:23px;left:30px;}
#But34.Down p {top:24px;left:31px;}
#But34.Over p {top:23px;left:30px;}
#But34 div {display:none;}
#Obj2 {word-wrap:break-word; display:none;position:absolute;left:651px;top:259px;width:58px;height:26px;z-index:82;background-color:#ffffff;}
#But35 {display:block;overflow:hidden;position:absolute;left:649px;top:360px;width:53px;height:34px;z-index:83;background:url('buttons/tcppag2_But35.png');background-repeat:no-repeat;}
#But35.Up {background-position: 0 0;}
#But35.Down {background-position: -53px 0;}
#But35.Over {background-position: -106px 0;}
#But35 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But35.Up p {top:18px;left:30px;}
#But35.Down p {top:19px;left:31px;}
#But35.Over p {top:18px;left:30px;}
#But35 div {display:none;}
#Obj3 {word-wrap:break-word; display:none;position:absolute;left:603px;top:401px;width:44px;height:26px;z-index:84;background-color:#ffffff;}
#But36 {display:block;overflow:hidden;position:absolute;left:395px;top:405px;width:24px;height:167px;z-index:85;background:url('buttons/tcppag2_But36.png');background-repeat:no-repeat;}
#But36.Up {background-position: 0 0;}
#But36.Down {background-position: -24px 0;}
#But36.Over {background-position: -48px 0;}
#But36 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But36.Up p {top:85px;left:15px;}
#But36.Down p {top:86px;left:16px;}
#But36.Over p {top:85px;left:15px;}
#But36 div {display:none;}
#Obj4 {word-wrap:break-word; display:none;position:absolute;left:206px;top:556px;width:89px;height:26px;z-index:86;background-color:#ffffff;}
#But37 {display:block;overflow:hidden;position:absolute;left:372px;top:405px;width:24px;height:167px;z-index:87;background:url('buttons/tcppag2_But36.png');background-repeat:no-repeat;}
#But37.Up {background-position: 0 0;}
#But37.Down {background-position: -24px 0;}
#But37.Over {background-position: -48px 0;}
#But37 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But37.Up p {top:85px;left:15px;}
#But37.Down p {top:86px;left:16px;}
#But37.Over p {top:85px;left:15px;}
#But37 div {display:none;}
#Obj5 {word-wrap:break-word; display:none;position:absolute;left:206px;top:520px;width:89px;height:26px;z-index:88;background-color:#ffffff;}
#But38 {display:block;overflow:hidden;position:absolute;left:331px;top:600px;width:32px;height:57px;z-index:89;background:url('buttons/tcppag2_But38.png');background-repeat:no-repeat;}
#But38.Up {background-position: 0 0;}
#But38.Down {background-position: -32px 0;}
#But38.Over {background-position: -64px 0;}
#But38 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But38.Up p {top:30px;left:19px;}
#But38.Down p {top:31px;left:20px;}
#But38.Over p {top:30px;left:19px;}
#But38 div {display:none;}
#Obj6 {word-wrap:break-word; display:none;position:absolute;left:323px;top:572px;width:86px;height:26px;z-index:90;background-color:#ffffff;}
#But39 {display:block;overflow:hidden;position:absolute;left:367px;top:600px;width:32px;height:57px;z-index:91;background:url('buttons/tcppag2_But38.png');background-repeat:no-repeat;}
#But39.Up {background-position: 0 0;}
#But39.Down {background-position: -32px 0;}
#But39.Over {background-position: -64px 0;}
#But39 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But39.Up p {top:30px;left:19px;}
#But39.Down p {top:31px;left:20px;}
#But39.Over p {top:30px;left:19px;}
#But39 div {display:none;}
#Obj7 {word-wrap:break-word; display:none;position:absolute;left:360px;top:659px;width:86px;height:26px;z-index:92;background-color:#ffffff;}
#But40 {display:block;overflow:hidden;position:absolute;left:589px;top:329px;width:52px;height:29px;z-index:93;background:url('buttons/tcppag2_But40.png');background-repeat:no-repeat;}
#But40.Up {background-position: 0 0;}
#But40.Down {background-position: -52px 0;}
#But40.Over {background-position: -104px 0;}
#But40 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But40.Up p {top:16px;left:29px;}
#But40.Down p {top:17px;left:30px;}
#But40.Over p {top:16px;left:29px;}
#But40 div {display:none;}
#But41 {display:block;overflow:hidden;position:absolute;left:541px;top:293px;width:39px;height:101px;z-index:94;background:url('buttons/tcppag2_But15.png');background-repeat:no-repeat;}
#But41.Up {background-position: 0 0;}
#But41.Down {background-position: -39px 0;}
#But41.Over {background-position: -78px 0;}
#But41 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But41.Up p {top:52px;left:23px;}
#But41.Down p {top:53px;left:24px;}
#But41.Over p {top:52px;left:23px;}
#But41 div {display:none;}
#But42 {display:block;overflow:hidden;position:absolute;left:589px;top:360px;width:52px;height:29px;z-index:95;background:url('buttons/tcppag2_But40.png');background-repeat:no-repeat;}
#But42.Up {background-position: 0 0;}
#But42.Down {background-position: -52px 0;}
#But42.Over {background-position: -104px 0;}
#But42 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But42.Up p {top:16px;left:29px;}
#But42.Down p {top:17px;left:30px;}
#But42.Over p {top:16px;left:29px;}
#But42 div {display:none;}
#Obj8 {word-wrap:break-word; display:none;position:absolute;left:591px;top:281px;width:79px;height:26px;z-index:96;background-color:#ffffff;}
#Obj9 {word-wrap:break-word; display:none;position:absolute;left:511px;top:401px;width:79px;height:26px;z-index:97;background-color:#ffffff;}
